/* default setup */
* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman';
    font-size: 1.2rem;
    box-sizing: border-box;
}

input[type="text"],
input[type="number"] {
    min-width: 70px;
    border: none;
    height: 25px;
    border-radius: 6px;
    box-shadow: 3px 5px 15px -6px #3a3939;
    outline: none;
    padding: 16px;
    font-size: 1rem;
}

.checked-mark{
    border: none;
    background-color: white;
    color: whtie;
    cursor: pointer;
    border-radius: 50%;
    padding: 2px 6px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.49);
}

/* Custom setup */
#container {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(200px,400px) 1fr;
}

.form {
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
    background: linear-gradient(90deg, rgba(131, 201, 0, 1) 17%, rgba(151, 220, 31, 1) 54%, rgba(114, 245, 0, 1) 100%);

    /* some custom */
    gap: 20px;
    padding: 50px 60px;
    box-shadow: 6px 0px 10px -4px rgba(0, 0, 0, 0.49);
    border-radius: 2px;
}

.form form {
    display: grid;
    grid-auto-rows: min-content;
    gap: 40px;
    
}

.form-group {
    display: grid;
    gap: 7px;
    max-width: 400px;
}

.read {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 6px;
    max-width: 250px;
    padding: 8px;
}

.read legend {
    margin-bottom: 6px;
}

.read label {
    font-size: 1.2rem;
}

.submit {
    padding: 8px;
    max-width: 200px;
    border: none;
    border-radius: 7px;
    box-shadow: 3px 5px 15px -6px #3d3d3d;
    cursor: pointer;
    color: white;
    background-color: rgb(25, 121, 231);
}

.submit:hover {
    transform: scale(1.05);
    transition: 0.09s;
}

/* Display div */
.display {
    grid-column: 2/3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-auto-rows: min-content;
    padding: 50px 50px;
}

.contentTitle {
    display: grid;
    grid-template-columns: minmax(350px, 1fr) minmax(150px, 1fr) repeat(2, minmax(150px, 250px)) minmax(20px, 100px);
    justify-items: center;
    color: white;
}

.headTitle,
.headAuthor,
.headPages,
.headReadStatus {
    width: 100%;
    border: 1px solid black;
    display: grid;
    justify-items: center;
    background-color: rgb(74, 136, 74);
    padding: 8px
}

.headTitle {
    grid-column: 1/2;
}

.headAuthor {
    grid-column: 2/3;
}

.headPages {
    grid-column: 3/4;
}

.headReadStatus {
    grid-column: 4/5;
}

.headDelete {
    grid-column: 5/6;
}

.mainContent {
    display: grid;
    grid-template-columns: minmax(350px, 1fr) minmax(150px, 1fr) repeat(2, minmax(150px, 250px)) minmax(20px, 100px);
    justify-items: center;
    align-items: center;
}

.mainContentTitle,
.mainContentAuthor,
.mainContentPages,
.mainContentReadStatus,
.mainContentDelete {
    display: grid;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    padding: 18px;
    
}

.mainContentTitle {
    grid-column: 1/2;
}

.mainContentAuthor {
    grid-column: 2/3;
}

.mainContentPages {
    grid-column: 3/4;
}

.mainContentReadStatus {
    grid-column: 4/5;
    display: grid;;
    grid-template-columns: repeat(2, min-content);
    justify-content: center;
}

.mainContentDelete {
    grid-column: 5/6;
    border: none;
}

.coverImg {
    width: 60px;
    height: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.49);
}

.delete {
    background-color: rgb(207, 25, 25);
    border: none;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.49);
    cursor: pointer;
    max-width: 40px;
    max-height: 30px;
}

.delete:hover {
    background-color: rgb(209, 63, 63);
}