/* default setup */
*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman';
    font-size: 1.2rem;
    box-sizing: border-box;
}

fieldset{
    border: none;        
}

input[type="text"],
input[type="number"] {
    width: 200px;
    border: none;
    height: 25px;
    border-radius: 6px;
    box-shadow:3px 5px 15px -6px #3a3939;
    outline: none;
    padding: 8px;
    font-size: 1rem;
}
/* Custom setup */
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(250px, 300px) 1fr;
}

.form{
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
    background: linear-gradient(90deg,rgba(131, 201, 0, 1) 17%, rgba(151, 220, 31, 1) 54%, rgba(114, 245, 0, 1) 100%);

    /* some custom */
    gap: 20px;
    padding: 50px 40px;
    box-shadow: 6px 0px 10px -4px rgba(0,0,0,0.49);
    border-radius: 2px;;
}

.form form{
    display: grid;    
    grid-auto-rows: min-content;
    gap: 20px;
}

.form-group{
    display: grid;
    gap: 7px;
}

.read{
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 6px;
}

.read legend{
    margin-bottom: 6px;
}

.read label{
    font-size: 1.2rem;
}

.submit{
    padding: 8px;
    width: 200px;
    border: none;
    border-radius: 7px;
    box-shadow:3px 5px 15px -6px #3d3d3d;
    cursor: pointer;
}

.submit:hover{
    transform: scale(1.05);
    transition: 0.09s;
}
/* Display div */
.display{
    grid-column: 2/3;

    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr)) minmax(150px, 200px) minmax(150px, 200px) minmax(150px, 250px) minmax(150px, 200px);
    border: 3px solid red;
    padding: 50px 50px;
}

.displayTitle,
.displayAuthor,
.displayPages,
.displayReadStatus,
.displayCover,
.displayDelete {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr;

    border: 1px solid red;
}

.displayReadStatus{
    width: 200px;
}

.contentTitle,
.contentAuthor,
.contentPages,
.contentReadStatus,
.contentCover {
    padding: 12px;
}

.headTitle,
.headAuthor,
.headPages,
.headReadStatus,
.headCover,
.headDelete{
    display: grid;
    justify-content: center;
    border: 2px solid black;
}